matplotlib==3.9.2
mediapipe==0.10.18
numpy>=1.25.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
scikit_learn==1.5.2
seaborn==0.13.2
streamlit==1.38.0
streamlit_navigation_bar==3.3.0
streamlit-webrtc==0.48.0
