matplotlib==3.9.2
mediapipe==0.10.18
numpy==1.22.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pandas==2.2.3
scikit-learn==1.5.2
seaborn==0.13.2
streamlit==1.38.0
streamlit-navigation-bar==3.3.0
